@media @phone-strict {
    .page__product {
        width: 100%;
    }

    .page__menu {
        width: 100%;
    }

    .wrapper {
        width: 90%;
    }

    .page__breadcrumbs {
        margin: 0 auto;
    }

    .breadcrumbs {
        width: 50%;
        margin: 0 auto;
        font-size: 20px;
    }

    .product {
        display: flex;
        flex-direction: column;

    }

    .product__media {
        width: 100%;
        margin: 0;
        margin-bottom: 70px;

    }

    .product__shop {

        margin: 0 auto;
        text-align: center;
    }

    .product-name__brand {
        font-size: 40px;
    }

    .description__product-consist {
        font-size: 18px;
        line-height: 1.5;
    }

    .product-option__heading {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .option-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;

    }

    .button__buy {
        width: 300px;
        font-size: 30px;

    }

    .about-product__choice {
        margin-bottom: 50px;
    }

    .buy-later__img {
        width: 28px;
        height: 25px;
    }

    .buy-later__text {
        font-size: 20px;
    }

    .footer {
        width: 100%;
    }

    .copyright__item {
        font-size: 15px;
        line-height: 25px;

    }

    .footer-content {
        margin: 0 auto;
        display: block;
        font-size: 17px;
    }

    .footer-menu__header {
        font-size: 19px;
        width: 44%;
        margin: 0 auto;

    }

    .footer-content__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-content__item {
        width: 100%;
        padding-left: 20px;
    }

    .footer-promo {
        margin: 0;
        padding-left: 60px;
        margin-top: 50px;
    }

    .footer-social {;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
        padding-right: 47px;
    }

    .footer-social__item {
        margin-right: 10px;
    }

    .footer-content__link {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .footer-support {
        margin: 0 auto;
        margin-bottom: 50px;

    }

    .footer-content__link {
        width: 100%;
    }

    .copyright {
        margin: 0 auto;
    }

    .footer-link {
        width: 75%;
        margin: 0 auto;
        display: block;
        columns: 2;

    }

    .footer-link__link {
        display: block;
        margin-top: 5px;
    }
    .footer-menu__header__company{
        padding-left: 52px;
    }

}
