@media @tablet-strict {
    .page {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page__product {
        width: 100%;

    }

    .menu-container {
        display: none;
    }

    .header-container {
        width: 100%;
    }

    .page__breadcrumbs {
        width: 30%;
        margin: 0 auto;
    }

    .product {
        display: flex;
        flex-direction: column;

    }

    .product__media {
        width: 100%;
        margin: 0;
        margin-bottom: 70px;

    }

    .product__shop {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .product-name__brand {
        font-size: 40px;
    }

    .description__product-consist {
        font-size: 18px;
        line-height: 1.5;
    }

    .product-option__heading {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .option-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;

    }

    .button__buy {
        width: 300px;
        font-size: 30px;

    }
    .about-product__choice{
        margin-bottom: 50px;
    }

    .buy-later__img {
        width: 28px;
        height: 25px;
    }

    .buy-later__text {
        font-size: 20px;
    }
    .page__footer{
        width: 100%;
    }
    .footer__copyright{
        font-size: 16px;
    }
    .copyright__item{
        padding-left: 20px;
    }
}

