@media @tablet-strict {

    .page__product {
        width: 100%;
    }
    .page__menu{
        width: 100%;
    }
    .wrapper{
        width: 80%;
    }
    .page__hidden{
        display: none;
    }


    .page__breadcrumbs {
        margin: 0 auto;
    }

    .breadcrumbs {
        width: 30%;
        margin: 0 auto;
    }

    .product {
        display: flex;
        flex-direction: column;

    }


    .product__media {
        width: 100%;
        margin: 0;
        margin-bottom: 70px;

    }

    .product__shop {

        margin: 0 auto;
        text-align: center;
    }

    .product-name__brand {
        font-size: 40px;
    }

    .description__product-consist {
        font-size: 18px;
        line-height: 1.5;
    }

    .product-option__heading {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .option-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;

    }

    .button__buy {
        width: 300px;
        font-size: 30px;

    }

    .about-product__choice {
        margin-bottom: 50px;
    }

    .buy-later__img {
        width: 28px;
        height: 25px;
    }

    .buy-later__text {
        font-size: 20px;
    }

    .footer {
        width: 100%;
    }

    .footer__copyright {
        font-size: 16px;
    }

    .footer-content {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .footer-content__link {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .footer-support {
        margin: 0;
        margin-right: 70px;
    }

    .footer-promo {
        margin-right: 130px;
    }

    .footer-content__info {
        display: flex;

    }
    .copyright{
        margin: 0 auto;
    }
    .link-support{
        margin-top: 7px;
    }
}

